@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #d7dbde;
}

.menuItem {
    display: inline-block;
    margin-inline: 10px;
    margin-block: 20px;

}

.menuItem a {
    color: black;
    text-decoration: none;
}

.menuItem a:hover {
    text-decoration: underline;
}

.menu {
    list-style-type: none;
}


.logo {
    width: 100px;

}

.logoConteiner {

    display: flex;
    justify-content: end;
}

/* BIENVENIDOS */

.fuentebienvenidos {

    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    width: 600;
}

.bienvenidos {
    background-image: url("/imagenes/edificios-1.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bienvenidos h1 {
    color: black;
    background-color: rgba(233, 225, 225, 0.062);
    padding-inline: 6px;
}

.fuentetext {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    width: 400;
    color: rgba(0, 0, 0, 0.877);
}

.bienvenidostext {
    display: flex;
    justify-content: center;
}

.sectionPropiedadesDestacadas {
    padding: 40px;
}

.sectionPropiedadesDestacadas {

    display: flex;
    justify-content: space-around;
}

/* INMUEBLES DESTACADOS*/

.sectionPropiedadesDestacadas {
    margin-top: 10px;

}

.tituloCartasIndex {
    padding: 20px;
    font-size: 25px;
    background-color: rgba(17, 91, 17, 0.862);


}

.tituloCartasIndex {
    height: 80px;
    padding-inline: 20px;
    padding-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fuenteprop {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;

}

.propiedadesDestacadas {
    width: 400px;
    background-color: #d7dbde;
    padding: 10px;
    border-radius: 10px;

}

.oficinaImagen {
    width: 100%;
    margin-bottom: 5px;
    height: 450px;
}

.oficinaTitulo {
    font-size: 18px;
    margin-bottom: 5px;
}

.oficinaParrafo {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* */

.wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;

}



/******* PROPIEDADES *******/

.tituloPropiedades {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(159, 10, 10);

}

.conteinerCarousel {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.imagenCarrusel {
    width: 100%;
    height: 400px;

}

.infoCarrusel {


    flex-basis: calc(50% - 90px);


}

.imagenContenedor {
    display: flex;
    justify-content: center;
    align-items: center;



}


/***** EMPRESA ******/

.equipoPuebla {
    display: flex;
    justify-content: center;
}

.familiaPueblaTitulo {
    color: rgba(17, 91, 17, 0.862);
    ;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    padding-top: 30px;

}

.familiaPuebla {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.familiaPueblaTextoContenedor {
    display: flex;
    justify-content: center;
    align-items: center;

}

.familiaPueblaTexto {
    font-size: 20px;
    font-weight: 400;
    padding-inline: 60px;
    padding-top: 25px;
}

.nuestroEquipo {
    display: flex;
    justify-content: center;
    color: rgba(17, 91, 17, 0.862);
    ;
}

.nuestrosAsesores {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
}

.cartaAsesores {
    display: flex;
    justify-content: space-between;
    margin-inline: 40px;
}

.asesores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.asesoresImagen {
    width: 165px;
    height: 164px;
    border-radius: 150px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);

}

.nombreAsesor {
    font-size: 16px;
    font-weight: 700;
}

.infoAsesores {
    font-size: 14px;
    font-weight: 600;
}


/*********TASACIONES*******/

.form__body {
    background-color: #e5e5f7;
    background-image: radial-gradient(#1b3605 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

.form {
    display: flex;
    max-width: 100vh;
    flex-direction: column;
    justify-content: center;

}

.form__text__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.form__title {
    color: rgb(159, 10, 10);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;

}

.form__text {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding-bottom: 6px;

}

.form__tasaciones {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 500px;
    padding: 4.5em 3em;
    border-radius: 15px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.261);
    margin-bottom: 40px;
    margin-top: 40px;
}


.form__tipoPropiedades {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.form__propiedades {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form__group {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
}

.button__conteiner {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}


/******** CONTACTOS *********/

.contacto__conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.form__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form__contacto__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;

}

.form__group__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;

}

.text__area {
    width: 300px;
    height: 100px;
    margin-bottom: 50px;
}

.contacto__info h2 {
    color:  rgba(17, 91, 17, 0.862);
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
}

.contacto__info p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}



/********* FOOTER ********/

.footerPuebla {
    width: 100%;
    margin-top: 50px;
    background-color: #f8f8f8dc;


}


.logoConteiner {
    display: flex;
    justify-content: start;
    align-items: center;
}

.imagenLogo {
    width: 140px;
    height: 90px;
}

.pieDePagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navFooter {
    display: inline;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;

}

.item {
    color: black;
    text-decoration: none;
    list-style-type: none;

}

.infoFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.direccionFooter {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.whatsappFooter {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;

}