@media screen and (max-width: 600px) {

    /********* INDEX ********/

    .bienvenidosText {

        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        width: 600;
    }

    .fuenteText {
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        width: 400;
        color: rgba(0, 0, 0, 0.877);
    }

    .fuenteprop {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;

    }



    .sectionPropiedadesDestacadas {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;

        .propiedadesDestacadas {
            background-color: rgba(255, 255, 255, 0.965);
            box-shadow: 5px 10px rgba(0, 0, 0, 0.261);
            margin-bottom: 40px;
            margin-top: 40px;
        }
    }


    /********PROPIEDADES************/

    .conteinerCarousel {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;

    }


    /********* EMPRESA **************/

    .equipoPueblaImagen {
        max-width: 100%;

    }

    .cartaAsesores {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;

    }





    /******* CONTACTOS *******/

    .contacto__conteiner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50px;

        .form__contacto {
            margin-top: 20px;

            .contacto__info {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    color: rgba(17, 91, 17, 0.862);
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.4rem;
                    font-weight: 700;
                }

                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.1rem;
                    font-weight: 500;
                }
            }

            .form__group__contacto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;
                font-weight: 400;

            }
        }

    }


    /******FOOTER********/


    .footerPuebla{

        .pieDePagina{
            display: flex;
            justify-content: center;
            .logoConteiner{
                display: none;
            }

            .navFooter{
                display: none;
            }

            .infoFooter {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: space-between;
                padding-top: 20px;
                
            }

        }
    }
   





}