.form__body {
    background-color: #e5e5f7;
    background-image: radial-gradient(#1b3605 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

.form__tasaciones {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 500px;
    padding: 4.5em 3em;
    border-radius: 15px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.261);
    margin-bottom: 40px;
    margin-top: 40px;

    .form {
        display: flex;
        max-width: 100vh;
        flex-direction: column;
        justify-content: center;

        .form__text__title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .form__title {
                color: rgb(159, 10, 10);
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 2rem;

            }

            .form__text {
                color: black;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 1.3rem;
                padding-bottom: 6px;

            }
        }


    }
}

.form__container {

    .form__propiedades {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .form__tipoPropiedades {
            color: black;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1rem;
        }
    }

    .form__group {
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        width: 100%;
    }

    .button__conteiner {
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

}