.form__tasaciones {

    background-color: rgba(231, 231, 203, 0.419);
    margin: auto;
    width: 90%;
    max-width: 500px;
    padding: 4.5em 3em;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.124);
    margin-bottom: 40px;
    margin-top: 40px;

    .form {
        display: flex;
        max-width: 100vh;
        flex-direction: column;
        justify-content: center;

        .form__text__title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .form__title {
                color: rgb(159, 10, 10);
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 2rem;

            }

            .form__text {
                color: black;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 1.3rem;


            }
        }

        .form__text__prop {
            display: flex;
            justify-content: center;
            align-items: center;

            .text__prop {
                color: black;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 1rem;
                padding-bottom: 6px;
                margin-bottom: 10px;

            }



        }


    }


}

.form__container {

    .form__tipoPropiedades {

        .form__propiedades {
            display: flex;
            flex-direction: column;
            justify-content: center;



            .tipo__prop {
                color: rgba(9, 9, 9, 0.885);
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 1rem;
            }

            .tipo__prop2 {
                color: rgba(9, 9, 9, 0.885);
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 1rem;
                margin-top: 10px;
            }

            .select__estilos {
                padding-block: 4px;
                padding-inline: 3px;
                border-radius: 5px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 1rem;
                color: rgba(9, 9, 9, 0.885);


            }

        }

    }




    .form__group {

        color: rgba(9, 9, 9, 0.885);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        width: 100%;

        input {
            width: 100%;
        }

        label {
            margin-top: 8px;
        }
    }

    .button__conteiner {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .form__submit {

            padding-block: 5px;
            padding-inline: 10px;
            border-radius: 5px;
            box-shadow: 2px 2.5px rgba(0, 0, 0, 0.242);
            color: rgba(9, 9, 9, 0.889);
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1rem;
        }
    }
}